.payment-method-option {
    border: 1px solid #dee2e6;
    border-radius: .3rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    height: 100%;
}
.payment-method-option:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, .5);
}
.payment-method-option.selected {
    border-color: #007bff;
    background-color: #e7f1ff;
    box-shadow: 0 0 8px rgba(0, 123, 255, .5);
}
.payment-method-option img {
    height: 30px;
    width: auto;
    max-width: 80px;
    margin-right: 15px;
    object-fit: contain;
}
