/* Header CSS - Tách từ style.css */

/* Mobile Menu */
@media (max-width: 991px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

/* Slicknav Menu Styles */
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #4A3600;
}
.slicknav_menu .slicknav_nav a.active {
  color: #4A3600;
}
@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -32px;
}
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}
@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -26px;
}

/* Header Area */
.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  padding-top: 0;
}
@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}
.header-area .main-header-area {
  padding: 0 150px;
  background: #4A3600;
}
@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 0 10px;
  }
}
.header-area .main-header-area .logo-img {
  text-align: center;
}
@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}
.header-area .main-header-area .book_room {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.header-area .main-header-area .book_room .socail_links ul li {
  display: inline-block;
}
.header-area .main-header-area .book_room .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}
.header-area .main-header-area .book_room .socail_links ul li a:hover {
  color: #fff;
}
.header-area .main-header-area .book_room .book_btn {
  margin-left: 30px;
}
.header-area .main-header-area .book_room .book_btn a {
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 18px;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
}
.header-area .main-header-area .book_room .book_btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(216, 178, 106, 0.8), transparent);
  transition: left 0.5s ease;
  z-index: 0;
  border-radius: 4px;
}
.header-area .main-header-area .book_room .book_btn a span,
.header-area .main-header-area .book_room .book_btn a {
  position: relative;
  z-index: 1;
}
.header-area .main-header-area .book_room .book_btn a:hover::before {
  left: 100%;
}
.header-area .main-header-area .book_room .book_btn a:hover {
  background: #d8b26a !important;
  color: #000 !important;
  border: 1px solid #d8b26a;
}
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  padding: 0px 0px 10px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 16px;
  }
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}
@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #BC9321;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a:hover {
  color: #fff;
}
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 150px;
  background: #4A3600;
}
@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* Cart Icon */
.cart-icon {
  position: relative;
}
.cart-icon span.bag {
  position: absolute;
  left: 19px;
  top: 0px;
  height: 15px;
  width: 15px;
  background: #e7ab3c;
  color: #ffffff;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

